.chat-profile-wrapper {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 0 4px;
}
.user-contact-profile {
  padding: 9px 8px;
  display: flex;
  align-items: center;
  column-gap: 18px;
  cursor: pointer;
}
.back-contact-btn {
/* display: none; */
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}
.contact-profile-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 4px;
}
.contact-profile-name {
  font-size: 16px;
  color: var(--color-gray-950);
  font-weight: 500;
}
.profile-last-time {
  font-size: 14px;
  color: var(--color-gray-550);
}
/* @media only screen and (max-width: 600px) {
  .back-contact-btn {
    display: block;
  }
} */
