.chat-wrapper {
    max-width: 1024px;
    width: 100%;
    max-height: 100%;
    background-color: var(--color-white);
    border-radius: 16px;
    display: flex;
} 
.contacts-box {
    min-width: 360px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-right: 1px solid black;
}
.user-contact-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.chat-box {
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 4px;
    padding: 4px;
}
.user-contact-profile {
    padding: 10px;
    border-bottom: 1px solid black;
}