.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .login-box {
    width: 380px;
    border: 1px solid black;
  }
  
  .login-title {
    color: var(--color-dark-900);
    font-weight: bold;
    font-family: var(--font-main);

  }
  
  .login-btn.google {
    /* Google bilan kirish tugmasi uchun */
  }
  
  .login-form {
    /* Forma umumiy qismi uchun */
  }
  
  .login-form-label {
    /* Label'lar uchun */
  }
  
  .login-btn-eye {
    /* Ko'z tugmasi (parolni ko‘rsatish) uchun */
  }
  
  .login-btn-submit {
    /* "LOG IN" tugmasi uchun */
  }
  