* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body, #root {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: var(--font-main);
}
button {
    border: none;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}
input {
    all: unset;
}