:root {
    /* Colors */
    --color-dark-950: #212121;
    --color-dark-900: #242424;
    --color-dark-700: #424242;
  

    --color-gray-600: #616161;
    --color-gray-500: #757575;
    --color-gray-200: #BDBDBD;
    --color-gray-100: #eeeeee;
    --color-gray-150: #FAFAFA;
    --color-gray-50:  #f5f5f5;

    --color-green-400: #4caf50;

    --color-white:    #ffffff;
    --color-primary:  #7b76f1;

      /* Fonts */
      --font-main: 'ZenKaku', sans-serif;
  }
  