.profile-modal-wrapper {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.3);
}
.profile-box {
    width: 300px;
    height: fit-content;
    overflow: hidden;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.profile-box-img {
    width: 100%;
    height: 300px;
}
.profile-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile-box-content {
  width: 100%;
  height: fit-content;
  border: 1px solid red;
  background-color: var(--color-white);
  flex-basis: 100%;
}
.profile-form {
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100%;
}
.profile-form label {
  font-size: 16px;
  color: var(--color-gray-400);
}
.profile-form input {
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px;
  font-size: 18px;
}
.profile-form span {
  padding: 4px;
  font-size: 18px;
}